<!-- Seção de Informações do Projeto -->
<div class="px-6 md:px-24 py-12 bg-white mt-2 text-blue-950">
  <div class="max-w-6xl mx-auto space-y-12">
    <!-- Cabeçalho Compacto -->
    <div class="bg-orange-50 p-6 md:p-10 rounded-2xl shadow-lg">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10 items-start">
        <!-- Informações do Projeto -->
        <div class="space-y-2">
          <h2 class="text-3xl font-bold text-orange-400 mb-4">
            Informações do Projeto
          </h2>
          <p><strong>Data de Início:</strong> 01 de maio de 2025</p>
          <p>
            <strong>Data de Término Prevista:</strong> 22 de setembro de 2025
          </p>
          <p><strong>Patrocinador:</strong> Ramon dos Santos Lummertz</p>
          <p>
            <strong>Gerente de Projeto:</strong> Grazieli Hainzenreder Fernandes
          </p>
        </div>

        <!-- Principais Stakeholders -->
        <div class="space-y-2 text-sm">
          <h2 class="text-3xl font-bold text-orange-400 mb-4">
            Principais Stakeholders
          </h2>
          <ul
            class="list-disc list-inside space-y-0.5 text-justify leading-snug"
          >
            <li><strong>Ramon dos Santos Lummertz</strong> – Patrocinador</li>
            <li>
              <strong>Grazieli Hainzenreder Fernandes</strong> – Gerente de
              Projeto
            </li>
            <li>
              <strong>Cleiton Becker Pereira</strong> – Desenvolvedor Backend
            </li>
            <li><strong>Desenvolvedor Frontend</strong></li>
            <li><strong>Designer UI/UX</strong></li>
            <li><strong>QA</strong></li>
            <li><strong>Suporte Técnico</strong></li>
            <li><strong>Contador</strong></li>
            <li>
              <strong>Usuários finais</strong> – Interessados diretos no ERP
              comercial
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Descrição -->
    <app-image-text-block-component
      imagem="../../assets/erp-comercial/desenvolvimento.png"
      imagemAlt="Visão geral do sistema ERP"
      titulo="Descrição do Projeto"
      subtitulo="Desenvolvimento de um ERP Comercial Completo"
      descricao="Este projeto visa desenvolver um sistema ERP (Programa de Automação Comercial) para a gestão eficiente de empresas, com módulos para emissão de NFe (Nota Fiscal Eletrônica), emissão de NFC-e (Nota Fiscal de Consumidor Eletrônica), Gestão Completa da Empresa com Cadastros de Produtos, Clientes, Fornecedores, Funcionários, Controle de Estoque, Emissão de Boletos, Contas a Pagar, Contas a Receber e Diversos Relatórios de Gestão"
      imagemPosicao="left"
    ></app-image-text-block-component>

    <!-- Objetivos -->
    <div class="relative flex flex-col md:flex-row gap-8">
      <!-- Coluna da esquerda -->
      <div class="md:w-1/2">
        <h3 class="text-2xl font-semibold text-orange-400 mb-2">
          Objetivos do Projeto
        </h3>

        <ul class="list-disc list-inside space-y-2 text-gray-800">
          <li>
            Desenvolver um módulo para emissão de
            <strong>Notas Fiscais Eletrônicas (NFe)</strong>, conforme os
            padrões da <strong>SEFAZ</strong>, garantindo validade jurídica e
            integração com os órgãos fiscais.
          </li>
          <li>
            Implementar um módulo de emissão de
            <strong>Notas Fiscais de Consumidor Eletrônicas (NFC-e)</strong>,
            otimizando o processo de venda no ponto de atendimento ao cliente.
          </li>
          <li>
            Criar funcionalidades de
            <strong
              >cadastro e gerenciamento de produtos, clientes, fornecedores e
              funcionários</strong
            >, permitindo o controle centralizado das informações da empresa.
          </li>
          <li>
            Desenvolver um sistema de
            <strong>controle de estoque em tempo real</strong>, com
            funcionalidades para entrada, saída, inventário e
            <strong>alertas de baixo estoque</strong>.
          </li>
        </ul>
      </div>

      <!-- Linha vertical cinza central -->
      <div
        class="hidden md:block absolute left-1/2 top-10 bottom-0 w-px bg-gray-300 z-0"
      ></div>

      <!-- Coluna da direita -->
      <div class="md:w-1/2">
        <h4 class="font-bold text-blue-950 mt-4 md:mt-10"></h4>
        <ul class="list-disc list-inside space-y-2 text-gray-800">
          <li>
            Integrar o sistema a um <strong>módulo financeiro</strong>,
            incluindo emissão de <strong>boletos bancários</strong>, controle de
            <strong>contas a pagar e contas a receber</strong>.
          </li>
          <li>
            Gerar <strong>relatórios gerenciais dinâmicos</strong>, com dados de
            vendas, estoque, financeiro, entre outros, auxiliando na
            <strong>tomada de decisões estratégicas</strong> da empresa.
          </li>
          <li>
            Garantir uma
            <strong>interface intuitiva e de fácil usabilidade</strong>,
            acessível tanto para usuários técnicos quanto administrativos.
          </li>
          <li>
            Assegurar a <strong>escalabilidade do sistema</strong>, permitindo
            futuras integrações com novos módulos, como
            <strong>e-commerce</strong> ou <strong>CRM</strong>.
          </li>
        </ul>
      </div>
    </div>

    <div class="flex flex-col md:flex-row gap-8 relative">
      <!-- Linha no meio -->
      <div
        class="hidden md:block absolute left-1/2 top-12 bottom-0 w-px bg-gray-300 z-0"
      ></div>

      <!-- Módulo Gestão -->
      <div class="md:w-1/2 relative z-10">
        <h3 class="text-2xl font-semibold text-orange-400 mb-2">
          Funcionalidades Incluídas
        </h3>

        <h4 class="font-bold text-blue-950 mt-4">Módulo Gestão:</h4>
        <ul class="list-disc list-inside space-y-1">
          <li><strong>Emissão de NFe</strong> (Nota Fiscal Eletrônica)</li>
          <li>
            <strong>Emissão de NFC-e</strong> (Nota Fiscal de Consumidor
            Eletrônica)
          </li>
          <li>
            <strong>Cadastro e gestão</strong> de produtos, clientes,
            fornecedores e funcionários
          </li>
          <li>
            <strong>Controle de estoque</strong> e
            <strong>emissão de etiquetas</strong>
          </li>
          <li>
            <strong>Gestão financeira</strong>: boletos, contas a pagar e contas
            a receber
          </li>
          <li><strong>Geração de relatórios</strong> gerenciais diversos</li>
        </ul>
      </div>

      <!-- Módulo Caixa -->
      <div class="md:w-1/2 relative z-10">
        <h4 class="font-bold text-blue-950 mt-4 md:mt-10">
          Módulo Caixa (PDV):
        </h4>
        <ul class="list-disc list-inside space-y-1">
          <li>
            <strong>Interface PDV</strong> com emissão e cancelamento de NFC-e
          </li>
          <li><strong>Cancelamento de Venda/Cupom</strong></li>
          <li><strong>Abertura e fechamento de caixa</strong></li>
          <li>
            <strong>Integração com bancos</strong> para emissão de boletos
          </li>
          <li>
            <strong>Integração com sistemas TEF</strong> (Sitef e VeroSmart)
          </li>
          <li>
            <strong>Suporte técnico</strong> até a entrega, com treinamento
            gratuito
          </li>
          <li>
            <strong>Documentação do sistema</strong>: manual do usuário e
            instruções técnicas
          </li>
        </ul>
      </div>
    </div>

    <div class="w-full max-w-full mx-auto my-6">
      <img
        src="../../assets/erp-comercial/lucros.jpg"
        alt="Descrição da imagem"
        class="w-full h-[250px] rounded-xl shadow-md object-cover"
      />
    </div>

    <div class="flex flex-col md:flex-row md:flex-wrap gap-8">
      <!-- Não Incluído -->
      <div class="md:w-[48%]">
        <h3 class="text-2xl font-semibold text-orange-400 mb-2">
          Não Incluído
        </h3>
        <ul class="list-disc list-inside space-y-1">
          <li>Integração com CRM ou e-commerce</li>
          <li>Suporte pós-entrega gratuito ao Domus</li>
          <li>Licença mensal bonificada</li>
          <li>Módulo de folha de pagamento</li>
          <li>Aplicativo mobile</li>
          <li>Suporte técnico ao TEF</li>
        </ul>
      </div>

      <!-- Milestones -->
      <div class="md:w-[48%]">
        <h3 class="text-2xl font-semibold text-orange-400 mb-2">
          Milestones do Projeto
        </h3>
        <ul class="list-disc list-inside space-y-1">
          <li>Início do Projeto: 05/05/2025</li>
          <li>Levantamento de Requisitos: 31/05/2025</li>
          <li>Design de Interface: 25/06/2025</li>
          <li>Desenvolvimento Backend: 15/07/2025</li>
          <li>Desenvolvimento Frontend: 10/08/2025</li>
          <li>Testes e Ajustes: 31/08/2025</li>
          <li>Entrega Final: 22/09/2025</li>
        </ul>
      </div>

      <!-- Orçamento -->
      <div class="md:w-[48%]">
        <h3 class="text-2xl font-semibold text-orange-400 mb-2">
          Orçamento Estimado
        </h3>
        <p>
          R$90.000,00 – incluindo design, desenvolvimento, testes e consultoria
          contábil.
        </p>
      </div>

      <!-- Equipe Necessária -->
      <div class="md:w-[48%]">
        <h3 class="text-2xl font-semibold text-orange-400 mb-2">
          Recursos Humanos Necessários
        </h3>
        <ul class="list-disc list-inside space-y-1">
          <li>Grazieli Hainzenreder Fernandes – Gerente de Projeto</li>
          <li>Cleiton Becker Pereira – Backend</li>
          <li>1 Desenvolvedor Frontend</li>
          <li>1 Designer UI/UX</li>
          <li>1 QA</li>
          <li>1 Contador (Consultor)</li>
        </ul>
      </div>

      <!-- Riscos -->
      <div class="md:w-[48%]">
        <h3 class="text-2xl font-semibold text-orange-400 mb-2">
          Riscos Iniciais Identificados
        </h3>
        <ul class="list-disc list-inside space-y-1">
          <li>Falta de experiência com NFe</li>
          <li>Alterações frequentes nos requisitos</li>
          <li>Falta de tempo (equipe com estagiários)</li>
          <li>Integrações com APIs externas</li>
          <li>Desafios técnicos com geração de boletos</li>
        </ul>
      </div>
    </div>

    <!-- Critérios de Sucesso -->
    <app-image-text-block-component
      imagem="../../assets/erp-comercial/criterios-de-sucesso.png"
      imagemAlt="Critérios para validação do ERP"
      titulo="Critérios de Sucesso"
      subtitulo="O que define o sucesso deste projeto"
      descricao="Para o sucesso do projeto, espera-se a funcionalidade completa do sistema, emissão de NFe e NFC-e em homologação, entrega de documentação e feedback positivo dos usuários com média superior a 4 estrelas."
      imagemPosicao="right"
    ></app-image-text-block-component>
  </div>
</div>
