<app-image-text-block-component
  [imagem]="'../../assets/erp-comercial/aumento-produtividade.webp'"
  [titulo]="'Produtividade'"
  [subtitulo]="'Aumente sua produtividade com a nossa plataforma'"
  [descricao]="'Texto explicativo aqui...'"
  [imagemPosicao]="'right'"
></app-image-text-block-component>

<app-image-text-block-component
  [imagem]="'../../assets/erp-comercial/aumento-produtividade.webp'"
  [titulo]="'Produtividade'"
  [subtitulo]="'Aumente sua produtividade com a nossa plataforma'"
  [descricao]="'Texto explicativo aqui...'"
  [imagemPosicao]="'left'"
></app-image-text-block-component>
