<div
  class="image-container"
  #imageContainer
  (wheel)="onWheel($event)"
  (mousedown)="onMouseDown($event)"
  (mouseup)="onMouseUp($event)"
  (mouseleave)="onMouseUp($event)"
  (mousemove)="onDrag($event)"
>
  <img
    #imageElement
    src="../../assets/erp-comercial/pmc.jpg"
    (load)="onImageLoad()"
    [ngStyle]="{
      transform:
        'scale(' +
        zoom +
        ') translate(' +
        translateX +
        'px,' +
        translateY +
        'px)'
    }"
    alt="Visualizador"
  />
</div>
